extends base.pug

block scripts
     scripts(src='/static/index.js')
block style
    style
      include ../static/style.css
      include ../static/staticaboutus.css
block content 
    main
        section
            h2 OUR TUTORIALS
            iframe(width='33%' height='33%' src='https://www.youtube.com/embed/g_ICkh_8BUI' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            iframe(width='33%' height='33%' src='https://www.youtube.com/embed/qWKf4CXk67o' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            iframe(width='33%' height='33%' src='https://www.youtube.com/embed/Rtea3d70Bkk' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            iframe(width='33%' height='33%' src='https://www.youtube.com/embed/s55DiMT_S34' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            iframe(width='33%' height='33%' src='https://www.youtube.com/embed/ZZrflURl7jE' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            iframe(width='33%' height='33%' src='https://www.youtube.com/embed/Rtea3d70Bkk' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        section
            h2 Our Events
            iframe(width='33%' height='75%' src='https://www.youtube.com/embed/smRvKRqTeRw' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            iframe(width='33%' height='75%' src='https://www.youtube.com/embed/iC2SAMiDO1c' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            iframe(width='33%' height='75%' src='https://www.youtube.com/embed/V3ynW2TUu6Y' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            iframe(width='33%' height='75%' src='https://www.youtube.com/embed/jQR4Hhaf8o8' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            iframe(width='33%' height='75%' src='https://www.youtube.com/embed/mg6-SnUl0A0' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            iframe(width='33%' height='75%' src='https://www.youtube.com/embed/RHx9lXGq7Sw' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
