doctype html
html
    head
        title Dance Academy
        block scripts
        block style
    body
        nav#navbar
            ul
                div#logo 
                    img(src="/static/img/logo.png" )
                    | DANCE
                li #[a(href="/") Home]
                li #[a(href="/aboutus") About US]
                li #[a(href="/price")  Payment]
                li #[a(href="/classinfo") Class Info]
                li #[a(href="/contact") Register]
        block content
        footer#footer Copyright© 2021 NehaDanceAcademy.com | All rights reserved    

   
