extends base.pug

block scripts
     scripts(src='/static/index.js')
block style
    style
      include ../static/style.css
      include ../static/styleclassinfo.css
block content 
    section#introSection 
            div#item1 Welcome To DANCE ACADEMY
            div#item2 "When in doubt, Dance it out"
    section#missionSection 
        h2 Fall In Love With Your Best Dance Teachers
        div.card#item3
          h3        
        div.card#item4
          h3 
        div.card#item5
          h3
        h2 Here Are Your Speacial Dance Moves
        div.card#item6
            h3 BALLET DANCE
        div.card#item7
          h3 TAP DANCE
        div.card#item8
          h3 JAZZ DANCE
        div.card#item9
            h3 LYRICAL DANCE
        div.card#item10
          h3 HIPHOP DANCE
        div.card#item11
          h3 CONTEMPORARY DANCE
        div.card#item12
            h3 CLASSICAL DANCE
        div.card#item13
          h3 BHANGRA DANCE
        div.card#item14
          h3 MODERN DANCE 
        h2 Learn any dance form 
        h4 Just Register yourself 
        h5 And get 3 free trails after that just click on payment section and pay for the course  