extends base.pug

block scripts
     scripts(src='/static/index.js')
block style
    style
      include ../static/style.css
      include ../static/styleprics.css
block content 
      div.container  
        h3 Welcome to Payment Gateway
        form(action='payment' method='POST')
            script.stripe-button(src='//checkout.stripe.com/v2/checkout.js' data-key='pk_test_51ILqhQJpAJb5irLbUYJ0Vt3OQUDpoJgMuBR8aMFBPocCU5f5SJBGJe2EJsrM7RWUal9NpNnhL7p4oEjz3g6ZYyT200D6SBnbH8' data-amount='110000' data-currency='inr' data-name='Neha Sardana' data-description='Learn Any Dance Course' data-locale='auto')
